
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #141517;
}

.cover-container {
  max-width: 70em;
}
.firstWork {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      margin-top: 5rem;
}
/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
  font-size: 	1.2rem;
}
h1 {
  font-size: 70px;
  color: #141517;
}

.nav-masthead .nav-link {
  font-size: 1rem;
  padding: .25rem 0.75rem;
  font-weight: 400;
  color: #141517;
  background-color: transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #707070;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
  .mastfoot {
    float: center;
  }
}

@media (max-width: 768px) {
  body {
  background-image: none!important;
  }
  h1 {
    font-size: 50px;
    margin-left: 40px;
  }
}
/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
  width: 100%;
  margin-bottom: -20px;
  font-size: 0.80rem;
}
